@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
}
.welcome {
  text-align: center;
  position: relative;
  margin-top: 200px;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  animation: welcome 4s 1;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@keyframes welcome {
  0% {
    top: -200px;
  }
  100% {
    top: 0px;
  }
}
.container {
  font-size: 18px;
  width: 90%;
  max-width: 900px;
  padding: 48px;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  animation: box 4s 1;
}
@keyframes box {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.search-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-container input,
.search-container button {
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.search-container input {
  background-color: #555;
  color: #fff;
  flex: 1;
}

.search-container input:focus {
  border-color: #fff;
}

.search-container button {
  background-color: #f9bc60;
  color: #333;
  cursor: pointer;
}

#result {
  color: #fff;
}

.info {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 8fr;
  align-items: center;
  margin-top: 1.2em;
}

.poster {
  width: 100%;
}
h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.rating h4 {
  font-size: 20px;
  font-weight: 500;
  color: #f9bc60;
}

.details {
  display: flex;
  font-size: 16px;
  gap: 20px;
  justify-content: center;
  color: #fff;
  margin: 10px 0;
  font-weight: 300;
}

.genre {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.genre div {
  border: 1px solid #f9bc60;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: 300;
  color: #f9bc60;
  margin: 5px;
}

h3 {
  font-weight: 500;
  margin-top: 20px;
  color: #f9bc60;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
  color: #fff;
}

.msg {
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 12px;
    padding: 1rem;
  }
  .info {
    display: block;
  }
  .poster {
    margin: auto;
    width: 100%;
    max-height: auto;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
}
